/* Start Rule */

.container 
{
    width: 1170px;
    margin: auto;
}

/* End Rule */

/* Start Header */
.header .navbar 
{
    background-color: #262F31;
    color: #fff;
    overflow: hidden;
    
}

.header .navbar h2 
{
    float: left;
    color: #fff;
    text-transform: uppercase;
}

.header .navbar h2 span
{
    color: #25b3f9;
}

.header .navbar ul 
{
    padding-left: 0;
    float: right;
    list-style: none;
    text-transform: capitalize;
}

.header .navbar ul li 
{
    float: left;
    display: block;
    padding: 5px 30px;
    font-size: 19px;
    text-align: center;
    
}

.header .navbar ul li a
{
    text-decoration: none;
    color: #fff;
    display: block;
    
}

.header .navbar ul li a:hover
{
    border-bottom: 3px solid #729BB0;
}

/* End Header */

/* Start Contact */

.contact 
{
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
    background-color: #1A1F22;
}

.contact .info 
{
    float: left;
    width: 50%;
    margin-right: 5%;
}

.contact .info h2 
{
    color: #fff;
    margin-left: 40px;
}

.contact .info > p 
{
    color: #888;
    margin-left: 40px;
    line-height: 1.7;
}

.contact .info p strong 
{
    color: #fff;
}

.contact .form 
{
    float: left;
    width: 45%;
}

.contact .form label 
{
    display: block;
    margin: 10px 0;
    color: #fff;
}

.contact .form input[type="text"] 
{
    width: 75%;
    color: #fff;
    background-color: #555;
    padding: 10px;
    border: 0;
    margin-bottom: 10px;
}

.contact .form input[type="email"] 
{
    width: 75%;
    color: #fff;
    background-color: #555;
    padding: 10px;
    border: 0;
    margin-bottom: 10px;
}

.contact .form input[type="tel"] 
{
    width: 75%;
    color: #fff;
    background-color: #555;
    padding: 10px;
    border: 0;
    margin-bottom: 10px;
}

.contact .form textarea 
{
    width: 75%;
    color: #fff;
    background-color: #555;
    padding: 10px;
    border: 0;
    margin-bottom: 10px;
    height: 250px
}

.contact .form input[type="submit"] 
{
    display: block;
    width: 75%;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border: 0;
}
.contact .form input[type="reset"] 
{
    display: block;
    width: 75%;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border: 0;
}
/* End contact */

/* Start Footer */

.foot 
{
    padding-top: 90px;
    padding-bottom: 49px;
    overflow: hidden;
    background-color: #272F31;
    text-align: center;
    color: #888;
}


.foot span:hover
{
    color: #fff;
}

.foot ul 
{
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0 ;
}

.foot ul li 
{
    display: inline-block;
    padding: 0 5px;
}

.foot ul li img 
{
    width: 24px;
}

/* End Footer */

























