/* Start Rule */

.container 
{
    width: 1170px;
    margin: auto;
}

/* End Rule */

/* Start Header */

.header .navbar 
{
    background-color: #262F31;
    color: #fff;
    overflow: hidden;
    
}

.header .navbar h2 
{
    float: left;
    color: #fff;
    text-transform: uppercase;
}

.header .navbar h2 span
{
    color: #25b3f9;
}

.header .navbar ul 
{
    padding-left: 0;
    float: right;
    list-style: none;
    text-transform: capitalize;
}

.header .navbar ul li 
{
    float: left;
    display: block;
    padding: 5px 30px;
    font-size: 19px;
    text-align: center;
    
}

.header .navbar ul li a
{
    text-decoration: none;
    color: #fff;
    display: block;
    
}

.header .navbar ul li a:hover
{
    border-bottom: 3px solid #287574;
}

.header .slider 
{
    background-image:url(../image/slider.gif); /* CSS3 */
    background-size: cover;
    height: 636px;
}


.header .slider .intro
{
    text-align: center;
    padding-top: 280px;
    
    
}

.header .slider h2 
{
    color: #fff;
    font-size: 50px;
    width: 600px;
    margin: 0 auto;
    padding: 5px 0;
    text-transform: uppercase;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.header .slider h2 
{
    color: #fff;
    font-size: 50px;
    width: 600px;
    margin: 0 auto;
    padding: 5px 0;
    text-transform: uppercase;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.header .slider button 
{
    background: none;
    color: #fff;
    padding: 10px 30px;
    font-size: 25px;
    margin-top: 30px;
    border: 3px solid #fff;
    text-transform: uppercase;
    text-decoration: none;
}

/* End Header */

































