
/* Start Rule */

.container 
{
    width: 1170px;
    margin: auto;
}

/* End Rule */

/* Start Header */
.header .navbar 
{
    background-color: #262F31;
    color: #fff;
    overflow: hidden;
    
}

.header .navbar h2 
{
    float: left;
    color: #fff;
    text-transform: uppercase;
}

.header .navbar h2 span
{
    color: #25b3f9;
}

.header .navbar ul 
{
    padding-left: 0;
    float: right;
    list-style: none;
    text-transform: capitalize;
}

.header .navbar ul li 
{
    float: left;
    display: block;
    padding: 5px 30px;
    font-size: 19px;
    text-align: center;
    
}

.header .navbar ul li a
{
    text-decoration: none;
    color: #fff;
    display: block;
    
}

.header .navbar ul li a:hover
{
    border-bottom: 3px solid #729BB0;
}

/* End Header */

/* Start Ourwork */

.work 
{
    padding-top: 10px;
}

.work h2, 
.work p 
{
    text-align: center;
}

.work .ourwork > div 
{
    float: left;
    width: 33.33%;
    margin-bottom: 10px;
}

.work .ourwork > div img
{
    width: 92%; 
    margin: 10px;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    
}

.work .ourwork > div img:hover
{
    width: 92%; 
    margin: 10px;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 12px #ccc;
}

/* End Ourwork */

/* Start Footer */

.foot 
{
    padding-top: 90px;
    padding-bottom: 49px;
    overflow: hidden;
    background-color: #272F31;
    text-align: center;
    color: #888;
    margin-top: 2050px
}


.foot span:hover
{
    color: #fff;
}

.foot ul 
{
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0 ;
}

.foot ul li 
{
    display: inline-block;
}

.foot ul li img 
{
    width: 24px;
}
/* End Footer */