
/* Start Rule */

.container 
{
    width: 1170px;
    margin: auto;
}

/* End Rule */

/* Start Header */
.header .navbar 
{
    background-color: #262F31;
    color: #fff;
    overflow: hidden;
    
}

.header .navbar h2 
{
    float: left;
    color: #fff;
    text-transform: uppercase;
}

.header .navbar h2 span
{
    color: #25b3f9;
}

.header .navbar ul 
{
    padding-left: 0;
    float: right;
    list-style: none;
    text-transform: capitalize;
}

.header .navbar ul li 
{
    float: left;
    display: block;
    padding: 5px 30px;
    font-size: 19px;
    text-align: center;
    
}

.header .navbar ul li a
{
    text-decoration: none;
    color: #fff;
    display: block;
    
}

.header .navbar ul li a:hover
{
    border-bottom: 3px solid #729BB0;
}

/* End Header */



/* Start Service */

.serv .servs 
{
    width: 1333px;
    margin: 0 auto;
    text-align: center;
    
}

.serv .text 
{
    text-align: center;
    font-size: 25px;
    color: #c1c1c1;
    margin: 100px 0 50px 0;
}

.serv .text:hover 
{
    color: #000;
}

.serv .servs .serv1 
{
    width: 250px;
    border: 1px solid #c1c1c1;
    margin: 20px;
    padding: 0 5px;
    float: left;
    box-shadow: 10px 10px 12px #ccc;
}

.serv .servs .serv1 h1 
{
    font-size: 16px;
    font-weight: bold;
    background-color: #c1c1c1;
    color: #fff;
    padding: 10px 0;
    margin: 0 -6px;
}

.serv .servs .serv1 image 
{
    max-width: %15;
    margin: 15px 0 0 0;
}

.serv .servs .serv1 image img 
{
    max-width: 100%;
}

.serv .servs .serv1 > p 
{
    font-size: 14px;
    color: #636363;
    max-width: 300px;
    line-height: 1.7;
    text-align: justify
}

/* Start Service */


/* Start Footer */

.foot 
{
    padding-top: 90px;
    padding-bottom: 49px;
    overflow: hidden;
    background-color: #272F31;
    text-align: center;
    color: #888;
    margin-top: 550px
}


.foot span:hover
{
    color: #fff;
}

.foot ul 
{
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0 ;
}

.foot ul li 
{
    display: inline-block;
}

.foot ul li img 
{
    width: 24px;
}
/* End Footer */



